VITE_API_URL=http://localhost:3000

VITE_WEEKLY_REPORTS_API_READY=false
VITE_ANALYTICS_REPORT_API_READY=false

VITE_DEVELOPMENT_API_READY=false
VITE_DEVELOPMENT_BUILDER_API_READY=false
VITE_DEVELOPMENT_IMPORT_API_READY=false
VITE_DEVELOPMENT_TEMPLATES_API_READY=false